interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/loadUserContent
  response:
    body:
      string: "{\"recordMap\":{\"__version__\":3,\"notion_user\":{\"11111111-1111-4111-8111-111111111111\":{\"value\":{\"value\":{\"id\":\"11111111-1111-4111-8111-111111111111\",\"version\":4,\"email\":\"test-user@example.com\",\"profile_photo\":\"https://example.com/avatar.png\",\"onboarding_completed\":true,\"mobile_onboarding_completed\":true,\"name\":\"Test
        User\"},\"role\":\"editor\"}}},\"user_root\":{\"11111111-1111-4111-8111-111111111111\":{\"value\":{\"value\":{\"id\":\"11111111-1111-4111-8111-111111111111\",\"version\":13,\"space_views\":[\"9d839157-7f87-45f1-9615-1544f73e3f1e\",\"53dc072f-e36e-4f27-bda0-2ca568c1c65c\"],\"space_view_pointers\":[{\"id\":\"9d839157-7f87-45f1-9615-1544f73e3f1e\",\"table\":\"space_view\",\"spaceId\":\"22222222-2222-4222-8222-222222222222\"},{\"id\":\"53dc072f-e36e-4f27-bda0-2ca568c1c65c\",\"table\":\"space_view\",\"spaceId\":\"33333333-3333-4333-8333-333333333333\"}]},\"role\":\"editor\"}}},\"user_settings\":{\"11111111-1111-4111-8111-111111111111\":{\"value\":{\"value\":{\"id\":\"11111111-1111-4111-8111-111111111111\",\"version\":1304,\"settings\":{\"persona\":\"unfilled\",\"team_role\":\"unfilled\",\"time_zone\":\"Asia/Bangkok\",\"domain_type\":\"personal\",\"signup_time\":1693831960499,\"used_ios_app\":true,\"cookie_consent\":{\"id\":\"1caf5fcd-6798-4b45-881c-bf9fb8bd587d\",\"permission\":{\"necessary\":true,\"targeting\":true,\"preference\":true,\"performance\":true},\"policy_version\":\"v9\"},\"preferred_locale\":\"en-US\",\"lastUsedDatabases\":{\"22222222-2222-4222-8222-222222222222\":[\"1e3bd4f4-b4de-81b1-9dbd-000b9faf71a8\",\"1e3bd4f4-b4de-81ef-8943-000b3c184d36\",\"308bd4f4-b4de-81c6-8ce0-000b0f4b662b\",\"1e3bd4f4-b4de-8175-a9c4-000b4677ff68\",\"1e3bd4f4-b4de-8149-b975-000b2e195d31\"]},\"seen_personal_home\":true,\"ai_onboarding_phase\":\"complete\",\"seen_filters_tooltip\":true,\"special_release_seen\":{\"viewed\":\"entrypoint\",\"timestamp\":1771689005076,\"releaseDate\":\"2026-02-24\"},\"used_desktop_web_app\":true,\"adoption_sidebar_inbox\":true,\"emoji_picker_skin_tone\":0,\"qna_reminders_shown_at\":[1728232517600,1729224556343],\"seen_peek_mode_tooltip\":true,\"callout_seen_timestamps\":{\"ai_limit_nudge\":1744520192787,\"integration_webhooks\":1744521251738,\"collaboration_callout\":1746975948042,\"custom_agents_launch_modal\":1772078773350,\"notion_mail_launch_modal_2\":1746286620480,\"mwn_announcement_modal_2025\":1759121321795,\"feed_view_onboarding_callout\":1753527804346,\"feed_view_onboarding_tooltip\":1751032737638,\"notion_mail_launch_2_callout\":1746286623562,\"ai_for_work_announcement_modal\":1747202567782,\"content_reskin_v2_announcement\":1774849804620,\"set_default_landing_page_tooltip\":1745852049482,\"transcription_block_alpha_announcement\":1745852387987,\"try_notion_for_work_sidebar_callout_revamped\":1753896871792},\"preferred_locale_origin\":\"legacy\",\"seen_persona_collection\":true,\"lastUsedTypedCollections\":{\"22222222-2222-4222-8222-222222222222\":{\"notion://tasks_collection\":[\"e33ce265-f396-4988-9d6e-b05ff27b744e\",\"ba7dd4a7-bb99-43e8-89e8-d70755a11880\"],\"notion://projects_collection\":[\"0eb82a60-8a66-42b6-b172-609b8a2cd0be\"]}},\"qna_sessions_initialized\":1,\"seen_panels_sidebar_tour\":true,\"charts_launch_modal_phase\":\"dismissed_ga_modal\",\"first_seen_faces_xsell_at\":1738594433264,\"last_exposed_to_ai_qna_at\":1727800612176,\"sites_launch_dismissed_at\":1719669673305,\"ai_qna_upsell_dismissed_at\":1704617476233,\"callout_placement_exposures\":[{\"placement\":\"Modal\",\"timestamps\":[1719669673302,1720084801696,1722872112104,1723643401978,1738589368898,1746286623564,1747202568796,1759121323635,1772078848021]},{\"placement\":\"SidebarFooter\",\"timestamps\":[1723566739527,1746975961606]},{\"placement\":\"Tooltip\",\"timestamps\":[1728236807261,1729224564304,1746975952627,1751032746258,1759121396596]}],\"callout_dismissal_timestamps\":[{\"name\":\"ai_assistant_announcement\",\"timestamp\":1722872112105},{\"name\":\"ai_assistant_reminder_tooltip\",\"timestamp\":1728236807264},{\"name\":\"notion_mail_launch_modal_2\",\"timestamp\":1746286623565},{\"name\":\"ai_assistant_origin_element_tooltip\",\"timestamp\":1746975952627},{\"name\":\"collaboration_callout\",\"timestamp\":1746975961607},{\"name\":\"ai_for_work_announcement_modal\",\"timestamp\":1747202568797},{\"name\":\"feed_view_onboarding_tooltip\",\"timestamp\":1751032746259},{\"name\":\"mwn_announcement_modal_2025\",\"timestamp\":1759121323637},{\"name\":\"custom_agents_launch_modal\",\"timestamp\":1772078848025}],\"seen_share_button_tooltip_at\":1695224647397,\"ai_assistant_onboarding_phase\":\"tooltip\",\"ai_qna_intro_onboarding_phase\":\"complete\",\"inapp_gallery_first_visited_at\":1722871549359,\"notion_calendar_sidebar_clicked\":true,\"dismissed_dictation_new_page_nux\":true,\"notion_calendar_launch_modal_phase\":\"dismissed_modal\",\"language_switching_prompt_dismissals\":[\"th-TH\"],\"seen_trash_autodeletion_announcement\":true,\"mwn_feature_modal_dismissed_at_millis\":1738589368900,\"personal_home_sidebar_item_clicked_at\":1771165553642,\"seen_factory_button_deprecation_badge\":true,\"ai_assistant_tooltips_onboarding_phase\":\"ask_ai_anything\",\"ai_sidebar_item_new_badge_dismissed_at\":1722524513119,\"assistant_summarize_this_page_shown_at\":[1726329211391],\"ai_assistant_onboarding_phase_last_set_at\":1722872112100,\"notion_calendar_launch_modal_dismissed_at\":1720084801701,\"personal_home_new_user_checklist_settings\":{\"progress_data\":{\"create_page\":{\"isCompleted\":true},\"explore_community_templates\":{\"isCompleted\":true}},\"showed_home_topbar_tooltip\":false},\"ai_seen_reroute_to_home_default_landing_page\":1}},\"role\":\"editor\"}}},\"space_view\":{\"9d839157-7f87-45f1-9615-1544f73e3f1e\":{\"spaceId\":\"22222222-2222-4222-8222-222222222222\",\"value\":{\"value\":{\"id\":\"9d839157-7f87-45f1-9615-1544f73e3f1e\",\"version\":206,\"space_id\":\"22222222-2222-4222-8222-222222222222\",\"parent_id\":\"11111111-1111-4111-8111-111111111111\",\"parent_table\":\"user_root\",\"alive\":true,\"notify_mobile\":true,\"notify_desktop\":true,\"notify_email\":true,\"visited_templates\":[\"b14624c2-72fa-44e9-a8ec-c9d82657e130\",\"0821d4cd-353f-431c-bc63-5b51a7971bf0\",\"ba43b46e-4ad3-47f7-95f0-58a3ba01476f\",\"c969b419-b18f-42cb-99cd-d361018bd4be\",\"424d82df-9b44-41b5-b611-a1c29ee8ba3e\"],\"sidebar_hidden_templates\":[\"b14624c2-72fa-44e9-a8ec-c9d82657e130\",\"0821d4cd-353f-431c-bc63-5b51a7971bf0\",\"ba43b46e-4ad3-47f7-95f0-58a3ba01476f\",\"c969b419-b18f-42cb-99cd-d361018bd4be\",\"424d82df-9b44-41b5-b611-a1c29ee8ba3e\"],\"created_getting_started\":true,\"created_onboarding_templates\":true,\"private_pages\":[\"fcd2a72a-7aa1-4380-9628-2e733c17ef56\",\"0d951ebc-8c64-4660-b3a3-a8045488f25e\",\"7d1b6bbe-9f9d-4a55-a8dd-b34128db7fbf\",\"20cbd4f4-b4de-8058-a4f8-dd7d2e1e0281\",\"1de8a767-a635-4dcb-b1e4-b5e217943615\",\"23cbd4f4-b4de-8087-8ec0-c7a2ebfb18d1\",\"2d0bd4f4-b4de-80da-ba17-e3199ec4ee1e\",\"308bd4f4-b4de-80a5-9199-efa43e7f3bee\",\"308bd4f4-b4de-8019-bfa7-e4464d1a6d5c\"],\"joined\":true,\"settings\":{\"library\":{\"version\":8},\"personal_home\":{\"version\":42,\"calendar\":{\"selected_calendar_bot_id\":\"ac5f6bf5-354d-454f-adbb-8eebf2dc02ca\"},\"hide_new_badge\":false,\"enabled_features\":{\"tips\":true,\"calendar\":true,\"greeting\":true,\"custom_db\":true,\"templates\":true},\"seen_welcome_animation\":true,\"home_landing_page_enabled\":\"home_landing_page_without_default\",\"home_landing_page_enabled_v2\":false},\"notify_email_digest\":true,\"ai_qna_waitlist_shown\":true,\"callout_seen_timestamps\":{\"invite_members_sidebar_callout\":1760414451375,\"meeting_block_abandoner_reminder\":1766345421808},\"has_user_seen_leap_modal\":true},\"sidebar_order\":[\"recents\",\"agents\",\"private\",\"shared\",\"notion_apps\"],\"shared_pages_manual_sort\":[\"308bd4f4-b4de-8019-bfa7-e4464d1a6d5c\",\"308bd4f4-b4de-80a5-9199-efa43e7f3bee\",\"8630bea9-16df-4061-9968-434d4b34e01f\",\"1de8a767-a635-4dcb-b1e4-b5e217943615\",\"23cbd4f4-b4de-8087-8ec0-c7a2ebfb18d1\",\"2d0bd4f4-b4de-80da-ba17-e3199ec4ee1e\"],\"first_joined_space_time\":0,\"assistant_session_starters\":[\"d6f70d14-4cf5-4ad5-b0dc-67a5b42f6eaf\"]},\"role\":\"editor\"}},\"53dc072f-e36e-4f27-bda0-2ca568c1c65c\":{\"spaceId\":\"33333333-3333-4333-8333-333333333333\",\"value\":{\"value\":{\"id\":\"53dc072f-e36e-4f27-bda0-2ca568c1c65c\",\"version\":4,\"space_id\":\"33333333-3333-4333-8333-333333333333\",\"parent_id\":\"11111111-1111-4111-8111-111111111111\",\"parent_table\":\"user_root\",\"alive\":true,\"notify_mobile\":true,\"notify_desktop\":true,\"notify_email\":true,\"joined\":true,\"settings\":{\"personal_home\":{\"enabled_features\":{\"custom_db\":true}},\"notify_email_digest\":true},\"shared_pages_manual_sort\":[\"44444444-4444-4444-8444-444444444444\"],\"first_joined_space_time\":0},\"role\":\"editor\"}}},\"space_user\":{\"11111111-1111-4111-8111-111111111111|22222222-2222-4222-8222-222222222222\":{\"spaceId\":\"22222222-2222-4222-8222-222222222222\",\"value\":{\"value\":{\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"22222222-2222-4222-8222-222222222222\",\"membership_type\":\"owner\",\"id\":\"11111111-1111-4111-8111-111111111111|22222222-2222-4222-8222-222222222222\",\"version\":36},\"role\":\"editor\"}},\"11111111-1111-4111-8111-111111111111|33333333-3333-4333-8333-333333333333\":{\"spaceId\":\"33333333-3333-4333-8333-333333333333\",\"value\":{\"value\":{\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"33333333-3333-4333-8333-333333333333\",\"membership_type\":\"page_guest\",\"id\":\"11111111-1111-4111-8111-111111111111|33333333-3333-4333-8333-333333333333\",\"version\":1},\"role\":\"reader\"}}},\"space\":{\"22222222-2222-4222-8222-222222222222\":{\"spaceId\":\"22222222-2222-4222-8222-222222222222\",\"value\":{\"value\":{\"id\":\"22222222-2222-4222-8222-222222222222\",\"version\":47,\"name\":\"Test
        User's Notion\",\"icon\":\"https://example.com/avatar.png\",\"beta_enabled\":false,\"created_time\":1693831966998,\"last_edited_time\":1753635162066,\"created_by_table\":\"notion_user\",\"created_by_id\":\"11111111-1111-4111-8111-111111111111\",\"last_edited_by_table\":\"notion_user\",\"last_edited_by_id\":\"11111111-1111-4111-8111-111111111111\",\"plan_type\":\"personal\",\"invite_link_enabled\":true,\"settings\":{\"crdt_status\":\"migrating\",\"grant_awards\":[{\"id\":\"ai.limitedQnaRefresh\",\"feature\":\"ai\",\"received_at\":1715148567891}],\"is_teams_enabled\":false,\"enable_ai_feature\":true,\"space_survey_data\":{\"intent\":{\"value\":\"personal\",\"version\":1,\"collected_at\":1693831973826,\"collected_from\":\"onboarding\"}},\"disable_ai_feature\":false,\"seen_referral_program\":true,\"is_personal_home_enabled\":true,\"custom_emoji_creation_only_admin\":false,\"sharded_entitlement_usage_tables\":true,\"ai_meeting_notes_free_credit_mins_v2\":120,\"personal_access_token_creation_policy\":\"workspace_owners_only\"},\"subscription_tier\":\"free\",\"short_id\":10000000000,\"short_id_str\":\"10000000000\"},\"role\":\"editor\"}}},\"sidebar_section\":{\"19b58d66-dc9d-8373-a6ca-92acb3ee2916\":{\"spaceId\":\"33333333-3333-4333-8333-333333333333\",\"value\":{\"value\":{\"id\":\"19b58d66-dc9d-8373-a6ca-92acb3ee2916\",\"version\":1,\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"33333333-3333-4333-8333-333333333333\",\"alive\":true,\"created_at\":1763920356175,\"section_type\":\"shared\"},\"role\":\"editor\"}},\"bde58d66-dc9d-8317-8fc2-121b300333e6\":{\"spaceId\":\"33333333-3333-4333-8333-333333333333\",\"value\":{\"value\":{\"id\":\"bde58d66-dc9d-8317-8fc2-121b300333e6\",\"version\":1,\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"33333333-3333-4333-8333-333333333333\",\"alive\":true,\"created_at\":1763920356175,\"section_type\":\"favorites\"},\"role\":\"editor\"}},\"35058d66-dc9d-8214-b989-124dec872f8f\":{\"spaceId\":\"33333333-3333-4333-8333-333333333333\",\"value\":{\"value\":{\"id\":\"35058d66-dc9d-8214-b989-124dec872f8f\",\"version\":1,\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"33333333-3333-4333-8333-333333333333\",\"alive\":true,\"created_at\":1763920356175,\"section_type\":\"private\"},\"role\":\"editor\"}},\"fb2bd4f4-b4de-83cb-9f8c-12500b63db13\":{\"spaceId\":\"22222222-2222-4222-8222-222222222222\",\"value\":{\"value\":{\"id\":\"fb2bd4f4-b4de-83cb-9f8c-12500b63db13\",\"version\":1,\"user_id\":\"11111111-1111-4111-8111-111111111111\",\"space_id\":\"22222222-2222-4222-8222-222222222222\",\"alive\":true,\"created_at\":1773596440748,\"section_type\":\"meetings_today\"},\"role\":\"editor\"}},\"8f1bd4f4-b4de-83b0-a02f-123242a48839\":{\"spaceId\":\"22222222-2222-4222-8222-222222222222\",\"value\":{\"value\":{\"id\":\"8f1bd4f4-b4de-83b0-a02f-12[...]
- request:
    body: '{"type": "space-ids", "spaceIds": ["22222222-2222-4222-8222-222222222222"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/getPublicSpaceData
  response:
    body:
      string: '{"results":[{"membershipType":"owner","role":"editor","createdTime":1693831966998,"memberCount":1,"ownerCount":1,"guestCount":0,"planType":"personal","is_sales_assisted":false,"subscriptionTier":"free","cell":"prod-space-usw2-0001","region":"us-west-2","id":"22222222-2222-4222-8222-222222222222","name":"Test
        User''s Notion","spaceShortId":"10000000000","domain":"lovely-slip-70a","domainIsAutogenerated":true,"icon":"https://example.com/avatar.png","disablePublicAccess":false,"disableGuests":false,"disableGuestMembershipRequests":false,"disableGuestWithPrivatePages":true,"inAppMessageEligibility":["all"],"disableMoveToSpace":false,"disableExport":false,"inviteLinkEnabled":true,"isTeamsEnabled":false,"enableGuestInviteRequest":false,"publicDomainIds":["dbaad40b-8a23-45f2-81d6-a72c7991b0cd"],"publicDomains":[{"id":"dbaad40b-8a23-45f2-81d6-a72c7991b0cd","name":"lovely-slip-70a","type":"default"}],"createdByDomain":"gmail.com","restrictedStateAvailable":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"411-4Z/p4pBwGOyDIGLyzzIJSGu0zAc"
      x-notion-cell-mapping:
      - space-id 22222222-2222-4222-8222-222222222222=prod-space-usw2-0001
      x-notion-request-id:
      - 189910ba-38ba-4cdd-b21c-31593294df9f
      x-notion-user-id:
      - 11111111-1111-4111-8111-111111111111
    status:
      code: 200
      message: OK
version: 1
