interactions:
- request:
    body: '{"type": "space-ids", "spaceIds": ["22222222-2222-4222-8222-222222222222"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/getPublicSpaceData
  response:
    body:
      string: '{"results":[{"membershipType":"owner","role":"editor","createdTime":1693831966998,"memberCount":1,"ownerCount":1,"guestCount":0,"planType":"personal","is_sales_assisted":false,"subscriptionTier":"free","cell":"prod-space-usw2-0001","region":"us-west-2","id":"22222222-2222-4222-8222-222222222222","name":"Test
        User''s Notion","spaceShortId":"10000000000","domain":"lovely-slip-70a","domainIsAutogenerated":true,"icon":"https://example.com/avatar.png","disablePublicAccess":false,"disableGuests":false,"disableGuestMembershipRequests":false,"disableGuestWithPrivatePages":true,"inAppMessageEligibility":["all"],"disableMoveToSpace":false,"disableExport":false,"inviteLinkEnabled":true,"isTeamsEnabled":false,"enableGuestInviteRequest":false,"publicDomainIds":["dbaad40b-8a23-45f2-81d6-a72c7991b0cd"],"publicDomains":[{"id":"dbaad40b-8a23-45f2-81d6-a72c7991b0cd","name":"lovely-slip-70a","type":"default"}],"createdByDomain":"gmail.com","restrictedStateAvailable":true}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"411-4Z/p4pBwGOyDIGLyzzIJSGu0zAc"
      x-notion-cell-mapping:
      - space-id 22222222-2222-4222-8222-222222222222=prod-space-usw2-0001
      x-notion-request-id:
      - 9e9d8c37-8b19-4785-b72f-a46281374a35
      x-notion-user-id:
      - 11111111-1111-4111-8111-111111111111
    status:
      code: 200
      message: OK
version: 1
