interactions:
- request:
    body: '{"requests": [{"table": "block", "id": "44444444-4444-4444-8444-444444444444"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/getRecordValues
  response:
    body:
      string: '{"isNotionError":true,"errorId":"624f278c-7826-43ab-92e6-d4c67489bf3d","name":"MemcachedCrossCellError","debugMessage":"Cross-cell
        memcached access is not allowed","message":"Something went wrong. (500)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cc-5cfBrx9z3DtLYIUovocuk52eg1U"
      x-notion-request-id:
      - d9b0acd4-91cf-4fdd-93fb-f0a0cf91347b
      x-notion-user-id:
      - 11111111-1111-4111-8111-111111111111
    status:
      code: 500
      message: Internal Server Error
version: 1
