interactions:
- request:
    body: '{"collectionId": "308bd4f4-b4de-80a5-9199-efa43e7f3bee", "collectionViewId":
      "", "query": {"aggregate": [], "aggregator": {"aggregation": []}, "filter":
      [], "sort": [], "search_query": "", "user_state": {"user_id": "11111111-1111-4111-8111-111111111111"},
      "calendar": {"range": {"type": "current_week"}, "from": "calendar_start", "to":
      "calendar_end"}, "show_calendar": false, "loader": {"type": "table", "limit":
      5, "searchQuery": "", "userTimeZone": "Asia/Bangkok", "userLocale": "en", "loadContent":
      false}}, "loader": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/queryCollection
  response:
    body:
      string: '{"isNotionError":true,"errorId":"75165429-7a16-4a51-b4e7-d72183b0b983","name":"ValidationError","debugMessage":"Invalid
        input.","message":"Something went wrong. (400)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a8-Farmu7CT605iW9koolj1x++IWvU"
      x-notion-request-id:
      - 5af51867-203d-4a0b-83ad-fff460358103
    status:
      code: 400
      message: Bad Request
version: 1
