interactions:
- request:
    body: '{"type": "BlocksInSpace", "query": "TestUser", "spaceId": "22222222-2222-4222-8222-222222222222",
      "limit": 5, "filters": {"isDeletedOnly": false, "excludeTemplates": false, "isNavigableOnly":
      false, "requireEditPermissions": false, "ancestors": [], "createdBy": [], "editedBy":
      [], "lastEditedTime": {}, "createdTime": {}}, "sort": {"field": "relevance"},
      "source": "quick_find"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app.notion.com/api/v3/search
  response:
    body:
      string: '{"results":[{"id":"a52280ec-de7c-4f7c-954f-153a7ab1ebf2","highlight":{"text":"19<gzkNfoUU>benz</gzkNfoUU>"},"highlightBlockId":"63d1b9cf-2a1c-4c71-87f3-f2cd2105e6dd","highlights":{"textHighlights":[{"highlightedText":"19<gzkNfoUU>benz</gzkNfoUU>","highlightBlockId":"63d1b9cf-2a1c-4c71-87f3-f2cd2105e6dd","relevanceRankES":0}]},"score":18.180988,"spaceId":"22222222-2222-4222-8222-222222222222","sources":["es"],"analytics":{"pageViews":{},"uniquePageViews":{}},"isSurrogateCollection":false,"badges":[]}],"total":1,"recordMap":{"__version__":3,"block":{"a52280ec-de7c-4f7c-954f-153a7ab1ebf2":{"spaceId":"22222222-2222-4222-8222-222222222222","value":{"value":{"id":"a52280ec-de7c-4f7c-954f-153a7ab1ebf2","version":102,"type":"page","properties":{"title":[["Private
        Info"]]},"content":["cf9d171c-1a13-4703-b600-4db077c97f43","e0c0f36f-1e28-41e6-9267-fdc68fdaf554","b8ae9292-3da3-49b7-bc13-9acb3344e158","1ce66948-f8e1-418e-9939-8c090379f8ef","e86e0956-f86a-4566-81ab-3bbfdeb0161b","6b73fa81-3fcc-47f5-9ece-7e1fea766c29","cc886ab3-8c36-42da-b555-018484196d33","30daec99-f179-4d55-95ef-ba92a70f7888","2af7ebcc-360e-4bfa-9efd-2d77fcdaac30","ecad5c90-bca4-4c52-957b-a0fd86ed148e","3f47f302-e229-4a49-8bcd-3b50c82d4561","13e04c17-54fc-456e-aa14-163e1efd2050","ca18c5ec-96ba-40f3-9d71-ca90e0c421ba","f5abe94f-f14a-4650-99d5-f58611ceb19b","63d1b9cf-2a1c-4c71-87f3-f2cd2105e6dd","ef435c9a-c359-48cf-a9cc-b4dd74579379"],"permissions":[{"role":"editor","type":"user_permission","user_id":"11111111-1111-4111-8111-111111111111"}],"created_time":1717080339841,"last_edited_time":1753526182396,"parent_id":"23cbd4f4-b4de-8087-8ec0-c7a2ebfb18d1","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"11111111-1111-4111-8111-111111111111","last_edited_by_table":"notion_user","last_edited_by_id":"11111111-1111-4111-8111-111111111111","space_id":"22222222-2222-4222-8222-222222222222","crdt_format_version":1,"crdt_data":{"title":{"r":"KsSJuToRd5x4qPiq1Ssaug,\"start\",\"end\"","n":{"KsSJuToRd5x4qPiq1Ssaug,\"start\",\"end\"":{"s":{"x":"KsSJuToRd5x4qPiq1Ssaug","i":[{"t":"s"},{"t":"t","i":["9zvGmKh4n2qO",1],"o":"start","l":12,"c":"Private
        Info"},{"t":"e"}],"l":""},"c":[]}}}}},"role":"editor"}},"23cbd4f4-b4de-8087-8ec0-c7a2ebfb18d1":{"spaceId":"22222222-2222-4222-8222-222222222222","value":{"value":{"id":"23cbd4f4-b4de-8087-8ec0-c7a2ebfb18d1","version":88,"type":"page","properties":{"title":[["Archive"]]},"content":["691a8021-6bf2-4b3e-a9c7-12c21a1e0851","457294d0-3cfe-4cfb-9770-b028f6d70e13","563cf03d-271c-41a8-87cb-fffef5b4d82a","63d8d0be-3771-4bda-aef4-b392dd8ca326","ee65a2dc-4f43-4b50-ba11-d71351a53113","a52280ec-de7c-4f7c-954f-153a7ab1ebf2","10fbd4f4-b4de-8034-b9cd-ec3cfd8bedf4","1e3bd4f4-b4de-80a1-879c-edb76bd02c1f","1e3bd4f4-b4de-80ee-a19d-d6f2e64df358","2dfbd4f4-b4de-8021-849a-eee244976c07","f9089793-d987-4625-a48e-03e0700f982d"],"format":{"page_icon":"/icons/archive_gray.svg"},"permissions":[{"role":"editor","type":"user_permission","user_id":"11111111-1111-4111-8111-111111111111"}],"created_time":1753526155691,"last_edited_time":1787126688746,"parent_id":"22222222-2222-4222-8222-222222222222","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"11111111-1111-4111-8111-111111111111","last_edited_by_table":"notion_user","last_edited_by_id":"11111111-1111-4111-8111-111111111111","space_id":"22222222-2222-4222-8222-222222222222","crdt_format_version":1,"crdt_data":{"title":{"r":"_ph4pkWVqpgLrzvW_eiO6A,\"start\",\"end\"","n":{"_ph4pkWVqpgLrzvW_eiO6A,\"start\",\"end\"":{"s":{"x":"_ph4pkWVqpgLrzvW_eiO6A","i":[{"t":"s"},{"t":"t","i":["G8XPVBwLspnc",1],"o":"start","l":7,"c":"Archive"},{"t":"e"}],"l":""},"c":[]}}}}},"role":"editor"}}},"space":{"22222222-2222-4222-8222-222222222222":{"spaceId":"22222222-2222-4222-8222-222222222222","value":{"value":{"id":"22222222-2222-4222-8222-222222222222","version":47,"name":"Test
        User''s Notion","icon":"https://example.com/avatar.png","beta_enabled":false,"created_time":1693831966998,"last_edited_time":1753635162066,"created_by_table":"notion_user","created_by_id":"11111111-1111-4111-8111-111111111111","last_edited_by_table":"notion_user","last_edited_by_id":"11111111-1111-4111-8111-111111111111","plan_type":"personal","invite_link_enabled":true,"settings":{"crdt_status":"migrating","grant_awards":[{"id":"ai.limitedQnaRefresh","feature":"ai","received_at":1715148567891}],"is_teams_enabled":false,"enable_ai_feature":true,"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1693831973826,"collected_from":"onboarding"}},"disable_ai_feature":false,"seen_referral_program":true,"is_personal_home_enabled":true,"custom_emoji_creation_only_admin":false,"sharded_entitlement_usage_tables":true,"ai_meeting_notes_free_credit_mins_v2":120,"personal_access_token_creation_policy":"workspace_owners_only"},"subscription_tier":"free","short_id":10000000000,"short_id_str":"10000000000"},"role":"editor"}}}},"trackEventProperties":{"query":{"query":"TestUser","filters":{"requireEditPermissions":false,"isDeletedOnly":false,"includePublicPagesWithoutExplicitAccess":false,"includeOnlyPermanentlyDeletedPages":false,"includeOnlyVerifiedPages":false},"type":"BlocksInSpace"},"queryLength":4,"queryTokensNaive":1,"truncatedQueryLength":4,"truncatedQueryTokensNaive":1,"workspaceId":"22222222-2222-4222-8222-222222222222","took":68,"totalTook":132,"allTimings":{"total":132,"getSpaceId":0,"queryContext":49,"addVectorRecall":0,"searchDocuments":73,"recallStageFinished":74,"permissionsLoaded":9,"filterDocuments":0,"highlightedResults":0,"searchServiceDone":0},"indexAlias":"block","language":"en","searchExperiments":{"search-mentions-models":""},"resultIds":["a52280ec-de7c-4f7c-954f-153a7ab1ebf2"],"resultDepths":[3],"queryType":"BlocksInSpace","requestSource":"quick_find","countryCodeFromIp":"US","inUseFilters":["isNavigableOnly"]},"clusterInfo":{"isFullPageIndexing":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1764-+Ugh95XysDSSnZlMKTwcWW94h7o"
      x-notion-cell-mapping:
      - space-id 22222222-2222-4222-8222-222222222222=prod-space-usw2-0001
      x-notion-request-id:
      - da845fef-dddd-47dc-b9e1-587a1ff9e1a3
      x-notion-user-id:
      - 11111111-1111-4111-8111-111111111111
    status:
      code: 200
      message: OK
version: 1
